.history {
  ._years {
    font-size: rem(24);
    color: #9B9B9B;
    text-align: left;
    line-height: rem(50);
  }
  ._HistoryTitle {
    font-size: rem(18);
    color: #A3642D;
    font-weight: bold;
    text-align: left;
    padding-left: rem(10);
    padding-top: rem(20);
    padding-bottom: rem(10);
  }
  .historyContent {
    padding-top: rem(15);
    font-size: rem(14);
    color: #5C5C5C;
    line-height: 1.5;
  }
}