.honor_prize {
  font-size: rem(24);
  color: #404040;
  line-height: rem(80);
}
.honorBox {
  overflow: hidden;
  margin-bottom: rem(15);
  .honorDes {
    padding: rem(7) 0;
    line-height: 1.5;
  }
  img {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
  }
  img:hover {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
  }
}